<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
  <meta http-equiv="refresh">
    <meta http-equiv="Cache-control" content="no-cache">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">


<script type="text/javascript">
 var app = angular.module("app", []);
  app.controller("HttpGetController", function ($scope, $http, $window) {
   var host=location.hostname;
     $scope.SendData = function () {
           var data = $.param({
              title: $scope.title
            });
           var config = {
                headers : {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }
           
            $http.post('http://'+host+':8000/imagefind', data, config)
            .then(function (response) {
               // $scope.PostDataResponse = data;
         var status=response.data;
      //   alert(status);
          console.log(status);
          alert('Image found Successfully');
            window.location.href='imagedata.html'

            })
            .catch(function (data, status, header, config) {
                console.log('error');          
      });
      
    };
    
          
    });
  
</script>
  </head>
  <body class="body" ng-app="app" ng-controller="HttpGetController" style="background-color: #eee;">
 
    <div class="site-wrapper" style="margin-top:100px;">


        <div class="container">
   <div class="col-md-offset-2 col-md-5 " >
            <div style="background-color:#fff; padding:50px;">
              <form class="form-signin">
                <p for="text" ><b>Image Search</b></p>
                <input type="text" value="" ng-model="title" class="form-control" placeholder="Image Name" required="" autofocus="">
                
               <button id="btnSignIn" class="btn btn-primary" style="margin-top:20px;"  ng-click="SendData()">Search</button>
              </form>
            </div>
          </div>
</div>
         



    </div>

    
  </body>
</html>
